@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Nunito:wght@400;700&display=swap');
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}


.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navbar-brand img {
    height: 50px; 
    width: auto;
    margin-right: 10px; 
    border-radius: 5px; 
  }
  

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #fff;
    border-bottom: 3px solid #b22222;
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
     z-index: 1000;
}

body{
    margin-top: 70px;
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.header-container {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box; 
}


.logo {
    flex: 1;
}

.logo a {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #4d4d4d; 
}

.logo span{
    color: #b22222;
}

.search-bar {
    flex: 2;
    display: flex;
    justify-content: center;
}

.search-input {
    position: relative;
    width: 40%;
}

.search-input i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #b22222;
    pointer-events: none;
    transition: width 0.3s; 
}

.search-input i.hidden {
    width: 0; 
    opacity: 0; 
    transition: opacity 0.3s; 
}

.search-input input {
    padding: 10px 10px 10px 40px; 
    height: 55px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 90%;
    font-size: 1rem;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input input::placeholder {
    font-family: sans-serif;
    color: #aaa;
    font-size: 1.1rem; 
}

.search-input input:focus {
    border-color: #b22222;
    box-shadow: 0 0 8px rgba(167, 5, 59, 0.3);
    outline: none;
}


.header-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px; 
}

.header-icons i {
    font-size: 1.5em; 
    cursor: pointer;
}

.header-icons .btn {
    height: 50px;
    border: none;
    align-items: center;
    text-align: center;
    border-radius: 7px;
}

.header-icons .btn a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
}


.header-icons .btn:hover{
    background-color: #4d4d4d;
}

.header-icons .btn .btn-icon{
    color: #fff;
    font-size: 20px;
    align-items: center;
    text-align: center;

}

.header-icons .noti{
    background-color: beige;
    border-radius: 45%;
    height: auto;
    width: 40px;
    text-align: center;
    align-items: center;
}


.noti {
    position: relative;
    display: inline-block;
}

.badge {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #b22222;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 1rem;
}



.sidebar {
    position: fixed;
    height: calc(100% - 70px); 
    top: 70px; 
    left: 0;
    width: 80px;
    background-color: #4d4d4d;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 1000;
}
 
.sidebar ul {
    margin-top: 20px;
    list-style: none;
}

.sidebar ul.nav-list li {
    position: relative;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #000;
}

.sidebar ul.nav-list li a {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    padding: 10px 0;
    font-size: 0px;
}

.sidebar ul.nav-list li .link-name {
    font-size: 12px;
    margin-top: 5px;
}

.sidebar ul.nav-list li:hover i {
    color: #fff;
    background-color: #b22222;
}

.sidebar ul.nav-list li a i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 1.3rem;
    border-radius: 12px;
    transition: 0.3s ease;
}


.icon {
    display: block;
    color: #fff;
    margin: 0;
    transition: color 0.3s; 
    padding: 0; 
    transition: color 0.3s, transform 0.5s;
}


.icon:hover {
    transform: scale(1.1); 
}




.iconb{
    width: 30px;
    padding-top: 10px;
}

.bottom-nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #fff; 
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px 0;
    z-index: 999;
    height: 70px;
}

.bottom-nav .nav-list {
    display: flex;
    width: 100%;
    justify-content: space-between; 
    margin: 0;
    padding: 0;
    list-style: none;
}

.bottom-nav .nav-list li {
    text-align: center; 
    flex: 1;
    position: relative;
}

.bottom-nav .nav-list li a {
    display: block;
    text-decoration: none;
    color: #555;
    font-size: 1rem; 
    padding: 8px 0; 
    transition: color 0.3s ease, transform 0.3s ease; 
}

.bottom-nav .nav-list li a:hover {
    color: #007bff; 
    transform: translateY(-2px); 
}

.bottom-nav .nav-list li a i {
    font-size: 1.5rem; 
    margin-bottom: 5px; 
    color: #4d4d4d; 
    transition: color 0.3s ease, transform 0.3s ease; 
}

.bottom-nav .nav-list li a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 10px;
}

.bottom-nav .active-dot {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: 8px; 
    height: 8px;
    background-color: transparent; 
    border-radius: 50%;
}

.bottom-nav .nav-list li a.active .active-dot {
    background-color: #b22222;
}

.bottom-nav .nav-list li a.active i {
    color: #b22222;
}

.bottom-nav{
    display: none;
}

@media (max-width: 768px) {
    .bottom-nav {
        display: flex; 
    }

    .bottom-nav .nav-list {
        flex-direction: row; 
        justify-content: space-around;
    }

    .bottom-nav .nav-list li {
        flex: 1;
        text-align: center;
    }

    .bottom-nav .nav-list li a {
        padding: 8px 0;
        font-size: 0.9rem; 
    }

    .bottom-nav .nav-list li a i {
        font-size: 1.25rem; 
    }

    .sidebar{
        display: none;
    }

}

@media (max-width: 1284px) {
    .bottom-nav {
        display: flex;
    }

    .bottom-nav .nav-list {
        flex-direction: row;
        justify-content: space-around;
    }

    .sidebar{
        display: none;
    }

    .bottom-nav .active-dot {
        position: absolute;
        bottom: 1px;
        left: 46%;
        transform: translateX(-50%);
        width: 8px; 
        height: 8px;
        background-color: transparent; 
        border-radius: 50%;
    }
}


/* bottom nav end*/



.header-icons .noti {
    position: relative;
    margin-right: 10px;
}

.header-icons .noti .badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 0.8rem;
} 

.menu-button {
    display: none;
}

.menu-button i {
    font-size: 1.8rem;
    cursor: pointer;
}

.sliding-menu {
    position: fixed;
    top: 0;
    left: -350px; 
    width: 350px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease;
    z-index: 1000;
    overflow-y: auto;
}

.sliding-menu.active {
    left: 0; 
}

.cancel-btn {
    text-align: right;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.cancel-btn i {
    font-size: 35px;
}


.profile-section {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 10px; 
}

.profile-section .profile-img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    margin-right: 10px;
}
.profile-section .profile-info {
    display: flex;
    flex-direction: column; 
}

.profile-section .profile-name {
    font-size: 20px; 
    color: #333; 
    margin-bottom: 2px; 
}

.profile-section .view-profile {
    font-size: 16px; 
    color: #007BFF; 
    text-decoration: none; 
}

.profile-section .view-profile:hover {
    text-decoration: underline; 
}


.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    padding: 10px 20px;
    position: relative; 
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    padding: 10px 20px;
}

.nav-list li .res {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-weight: 600;
    padding-top: 6px;
    align-items: center;
}

.nav-list li a i {
    font-size: 25px; 
    margin-right: 10px;
    margin-top: 10px;
}

.nav-list hr {
    margin: 15px 0;
    border: none;
    border-top: 1px solid #ddd;
}

.nav-list .menu-description {
    font-size: 13px; 
    color: #666;    
    padding-left: 35px; 
    padding-bottom: 20px;
}



@media (max-width: 768px) {
    .header .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-bar,
    .header-icons {
        display: none;
    }

    .menu-button {
        display: block;
    }
}


@media (max-width: 1284px) {
    .header .header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-bar,
    .header-icons {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 1190px) {
    .d-none {
        display: none !important;
    }

}

#main-content {
    flex: 0 0 auto;
    max-width: 66.6667%;
    transition: max-width 0.3s ease;
    margin: 0;
}

@media (max-width: 1190px) {
    #main-content {
        flex: 0 0 100%; /* Expand to full width */
        max-width: 100%; /* Ensure full width */
    }
}



/* Sidebar profile container */
.profile-container {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100px; 
}

.profile-pic1 {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.hover-options {
    display: none; 
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    left: 93%;
    background-color: #4d4d4d;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(10, 0, 0, 0.8);
    z-index: 10;
    opacity: 0; 
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.hover-options[data-visible="true"] {
    display: block; 
    opacity: 1;
}


.profile-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.profile-link:hover {
    background-color: #555;
}

.hover-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.hover-profile-name {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}


.hover-options ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.view-profile {
    color: #b22222;
    font-size: 14px;
    margin-top: 5px;
    display: block;
}

.divider {
    border: 0;
    border-top: 1px solid #777;
    margin: 15px 0;
}


.hover-options ul li {
    margin: 1px 10px;
}

.hover-options ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px; 
    display: flex;
    align-items: center;
    gap: 15px; 
    padding: 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.hover-options ul li a:hover {
    background-color: #aaa;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
}


.hover-options ul li a i {
    font-size: 1rem; 
    color: #fff;
    transition: color 0.3s, transform 0.3s;
}

.hover-options ul li a:hover i {
    color: #b22222;
    transform: scale(1.2);
}

.profile-container:hover .hover-options {
    display: block;
}



.noti-dropdown {
    position: absolute;
    top: 60px;
    right: 0; 
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 12px;
    width: 300px; 
    font-size: 12px;
    z-index: 1000; 
    display: none;
}

.noti {
    position: relative; 
    display: inline-block;
}

.noti-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.noti-dropdown ul li {
    align-items: flex-start;
    gap: 10px;
    font-size: 12px; 
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
    border-radius: 6px;
    line-height: 1.7;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; 
    position: relative;
    padding-left: 10px; 
}
.noti-dropdown ul li i {
    flex-shrink: 0;
}

.noti-dropdown ul li:last-child {
    border-bottom: none;
}

.noti-dropdown ul li .before-icon {
    font-size: 16px; 
    color: #b22222;
    flex-shrink: 0;
}

.noti-dropdown ul li strong {
    font-size: 14px;
    font-weight: bold;
    color: black;
    flex-shrink: 0;
    left: 10px;
}

.noti-dropdown ul li a {
    color: #b22222;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap; 
}

.noti-dropdown .for-center {
    text-decoration: none;
    text-align: center;
    color: #b22222;
    background-color: #f5f5f5;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    border-radius: 15px;
}


.noti-dropdown .for-center a {
    text-decoration: none;
    color: #b22222;
    font-size: 15px;
    bottom: 0
    ;
    padding-top: 200px;
}

.noti-dropdown .for-center a:hover {
    text-decoration: underline;
}


.notif {
    position: relative;
    display: inline-block;
    background-color: beige;
    border-radius: 50%;
    height: auto;
    width: 40px;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.notif i{
    font-size: 22px;
    color: #4a4a4a;
    padding: 10px;
}



.message-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #B22222;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }
  
  .message-btn:hover {
    transform: scale(1.1);
  }
  
  
  .message-box {
    position: fixed;
    bottom: 80px;
    right: 40px;
    width: 350px;
    height:500px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9999;
    overflow-y: auto;
    opacity: 0;
    transform: translateY(10px); 
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: none;
  }   
  
  .message-box.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  
  .message-header {
    background: #B22222;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    gap: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  
  .message-content {
    background: white;
    padding:5px;
    padding-top:100px;
    font-size: 16px;
    color: gray;
    border-bottom-left-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 8px;
  }
  
  
  .message-content p{
    font-size:14px;
    color: gray;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  
  .message-content i{
    font-size: 20px;
    color: #000;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  
  
  /* Hide on small screens (below 1024px) */
  @media screen and (max-width: 1024px) {
    .message-btn {
        position: fixed;
        margin-bottom: 60px;
    }
  
  
    .message-box {
        position: fixed;
        bottom:140px;
        right: 35px;
        width: 350px;
        height:450px;
    }
    
  
  }




  
  .user-profile-container {
    width: 100%;
    max-width: 100%; 
    margin: auto;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.user-profile-bg {
    width: 100%;
    height: 170px; 
    background-image: url('img/blog2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.profile-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%; 
    position: relative;
    margin-top: -30px; 
}

.user-profile-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid white;
    background: white;
    display: flex;
}

.user-profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
}


.user-info {
    margin-left: 10px; 
    text-align: left;
    
}

.user-name {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    font-family: 'Poppins', sans-serif; 
}

.user-role {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif; 
}


.user-info span{
    font-size: 15px;
    color: #aaa;
    font-family: 'Poppins', sans-serif; 
}


.profile-info {
    display: flex;
    align-items: center;
}


/* Profile Actions - Icon Container */
.profile-actions {
    display: flex;
    gap: 12px;
    position: absolute;
    top: 55px;
    right: 15px;
    padding: 8px;
    border-radius: 10px;
}

.icon-container {
    cursor: pointer;
    font-size: 20px;
    color: #555;
    padding-top: 6px;
    border-radius: 20%;
    transition: 0.3s;
    height: 40px;
    width: 40px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.icon-container:hover {
    background: #b22222;
    color: white;
}


/* Love Icon Active State */
.love-icon.active i {
    color: red;
}

/* Menu Dropdown */
.menu-box {
    display: none;
    position: absolute;
    right: 0;
    top: 270px;
    padding: 10px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 170px;
}

.menu-box p {
    margin: 0;
    padding: 6px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 13px;
    padding-bottom: 20px;
}

.menu-box p i{
    font-size: 13px;
    margin-right: 10px;
}

.menu-box p:hover {
    background: #f5f5f5;
}

/* Message Box */
.custom-message-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 370px;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* When active (visible) */
.custom-message-box.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}


.custom-message-box.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 20px;
    color: #555;
    transition: color 0.3s;
}

.custom-message-box .close-btn:hover {
    color: #d9534f;
}

.custom-message-box textarea {
    width: 100%;
    height: 150px;
    background: #f5f5f5;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    resize: none;
    outline: none;
    transition: border 0.3s ease-in-out, background 0.3s ease-in-out;
}

.custom-message-box textarea:focus {
    border: 1.5px solid black;
    background: #fff;
}

.custom-message-box p, 
.custom-message-box textarea{
    font-family: 'Quicksand', sans-serif; /* Change to 'Nunito' or 'Poppins' if needed */
    font-size: 14px; /* Adjust as needed */
    font-weight: 600;
    color: #000;
    line-height: 1.6; /* Better spacing */
}


.custom-message-box .text-message{
    padding-bottom: 10px;
}

.custom-message-box .instruc{
    padding-bottom: 5px;
}


.custom-message-box .send-btn {
    width: 100%;
    background: #B22222;
    color: white;
    border: none;
    padding: 14px; 
    margin-top: 12px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
}

.custom-message-box .send-btn:hover {
    background: #8B1A1A;
}




.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}



/* Overlay to blur background */
.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(1px);
    z-index: 999;
} 




/* Close Button Styling */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}



@media screen and (max-width: 1024px) {
    .message-btn {
        position: fixed;
        margin-bottom: 60px;
    }


    .message-box {
        position: fixed;
        bottom:140px;
        right: 35px;
        width: 350px;
        height:450px;
    }


    .user-profile-container {
        width: 100%;
        max-width: 100%; 
        margin: auto;
        text-align: center;
        position: relative;
        border-radius: 10px;
    }

    .profile-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 5%; 
        position: relative;
        margin-top: -30px; 
    }
    
    

    .user-info {
        margin-left: 7px; 
        text-align: left;
        
    }
    
    .user-name {
        font-size: 21px;
        font-weight: bold;
        color: #333;
        font-family: 'Poppins', sans-serif; 
    }
    
    .user-role {
        font-size: 14px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif; 
    }
    
    
    .user-info span{
        font-size: 9px;
        color: #aaa;
        font-family: 'Poppins', sans-serif; 
    }
    

    .user-profile-img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid white;
        background: white;
        display: flex;
    }
    
    .user-profile-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
    }

    .profile-info {
        display: block;
        align-items: center;
    }


    .icon-container {
        cursor: pointer;
        font-size: 15px;
        color: #555;
        padding-top: 3px;
        font-weight: bold;
        border-radius: 20%;
        transition: 0.3s;
        height: 30px;
        width: 30px;
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        justify-content: center;
    }

}
