body {
    font-family: 'Arial', sans-serif;
    background-color: #921e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #B22222;
    font-weight: 700;
    font-size: 1.9rem;
}

.text-center {
    text-align: center;
    margin-top: 20px;
}

.tagline p {
    color: #4B3D29;
    font-size: 1.1rem;
    margin: 5px 0;
}

.tagline p strong {
    font-size: 1.2rem;
    color: #B22222;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tagline {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 20px;
}



.form-group {
    position: relative;
    margin-bottom: 25px;
}

.form-group i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #B22222;
    font-size: 20px;
}

.form-group .email {
    position: absolute;
    top: 70%;
    left: 15px;
    transform: translateY(-50%);
    color: #B22222;
    font-size: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px 10px 10px 40px; 
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ddd;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #B22222;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.form-group label{
    font-family: sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-button button {
    width: 50%;
    padding: 12px;
    font-size: 1.1rem;
    background-color: #B22222;
    color: #fff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button button:hover {
    background-color: #4B3D29;
}

.text-center a {
    color: #B22222;
    text-decoration: none;
    font-size: 1rem;
    ;left: 100%;
    transition: color 0.3s ease;
}

.text-center a:hover {
    color: #4B3D29;
}

.form-button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}



.eye-icon {
    position: absolute;
    right: 10px;
    top: 38px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
  }
  

  .error-message {
  color: red;
  font-size: 0.85em;
  margin-top: 2px;
}