body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center !important;
    background-color: #E0F7FA;
}
.nav1 {
    padding: 1rem;
    background-color: #fff;
    border-bottom: 3px solid #B22222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    text-align: center !important;
    cursor: pointer;
    
}

.logo {
    font-size: 1.5rem; 
    font-weight: bold;
    color: #fff; 
    text-decoration: none !important;
    color: #555;
    text-align: center !important;
}


.logo:hover{
    color: black;
}


h2 {
    text-align: center;
    color: #B22222;
    font-size: 1.5rem;
    margin-top: 50px;
    font-family: 'Merriweather', serif;
    font-style: italic;
}

.card {
    position: relative;
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02); 
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 99, 71, 0.7), rgba(255, 215, 0, 0.7)); 
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.card-body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #333;
    padding: 20px; 
}

.card-text {
    font-size: 1rem; 
    margin: 10px 0; 
}


.card {
    border-radius: 10px;
    display: flex;
    height: 93%;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0,4,0,0.9);
    transition: transform 0.3s;
    min-height: 350px;
    
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    max-width: 120px;
    height: 70%; 
    border-radius: 50%; 
    margin: 0 auto 15px; 
    display: block;
    border: 2px solid #B22222; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s; 
    filter: brightness(0.7);
}
.card img:hover {
    transform: scale(0.9); 
}


.card-title {
    font-weight: bold;
    color: #B22222;
    font-size: 1.3rem;
}

.card-text {
    color: #555;
    padding: 0 10px;
    text-align: left;
}

.btn-danger {
    background-color: #B22222;
    border: none;
    color: white;
    padding: 10px;
    width: 30%;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s;
    margin: 0 auto 15px; 
 
}

.btn-danger:hover {
    background-color: #4B3D29;
}

.btn-danger:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #B22222;
}



.scroll-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; 
    background-color: #B22222;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
    text-align: center;
}

.scroll-up:hover {
    background-color: #4B3D29;
    color:#fff;
}
